{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
    </header>

    <a class="post-teaser" href="{{url}}">
        <img src="{{image}}" >
    </a>

    <section class="post-excerpt">
        <p>{{excerpt words="70"}}&hellip;</p>
        <p><a class="read-more btn btn-sm btn-secondary" href="{{url}}">Read more &#8594;</a></p>
    </section>

    <footer class="post-meta">
        <section class="author">
            {{#if author.image}}
            <figure class="author__image author__image--small">
                <span class="img" style="background-image: url({{author.image}})"></span>
            </figure>
            {{/if}}

            {{author.name}}
        </section>

        {{#if tags}}
            <div class="post-tags">
                {{#foreach tags}}
                    <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{slug}}</a>
                {{/foreach}}
            </div>
        {{/if}}

        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM YYYY"}}">{{date published_at timeago="true"}}</time>
    </footer>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
