{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

<div class="grid grid--full grid-small--half grid-medium--third grid--gutters">

    {{#foreach posts}}
    <div class="grid__col">
        <article class="{{post_class}} post--card">
            <a class="post--card__link" href="{{url}}">

                <figure class="post-teaser {{#if image}}" style="background-image: url({{image}}){{else}}no-teaser{{/if}}"></figure>

                <header class="post-header">
                    <h2 class="post-title">{{title}}</h2>
                </header>

                <footer class="post-meta">
                    <section class="author">
                        {{#if author.image}}
                        <figure class="author__image author__image--small">
                            <span class="img" style="background-image: url({{author.image}})"></span>
                        </figure>
                        {{/if}}

                        {{author.name}}
                    </section>

                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM YYYY"}}">{{date published_at timeago="true"}}</time>
                </footer>
            </a>
        </article>
    </div>
    {{/foreach}}

</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
