{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="header post-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" role="banner">

            {{navigation}}

            <div class="row">
                <h1 class="header__title post-title">{{title}}</h1>
            </div>
        </header>

        <section class="post-content row">
            {{content}}
        </section>

        <section class="post-meta row">
            {{#if tags}}
                <div class="post-tags">
                    {{#foreach tags}}
                        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{slug}}</a>
                    {{/foreach}}
                </div>
            {{/if}}

            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}" title="{{date format="DD MMMM YYYY"}}">{{date published_at timeago="true"}}</time>
        </section>

        {{>share}}

        <footer class="post-footer row">

            <section class="post-author author">
                {{#author}}

                    {{#if image}}
                    <figure class="author__image">
                        <a class="img" href="{{url}}" style="background-image: url({{image}})"></a>
                    </figure>
                    {{/if}}

                    <section class="author__info">
                        <h4 class="author__info__name"><a href="{{url}}">{{name}} &#8594;</a></h4>

                        {{#if bio}}
                            <p class="author__bio">{{bio}}</p>
                        {{else}}
                            <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                        {{/if}}
                        <div class="author__info__meta">
                            {{#if location}}<span class="author-location">{{location}}</span> &middot; {{/if}}
                            {{#if website}}<span class="author-link"><a href="{{website}}">{{website}}</a></span> &middot; {{/if}}

                            {{#if twitter}}
                                <a class="social-link js-social-link" href="https://twitter.com/{{twitter}}" title="Twitter">
                                    <svg class="icon icon--social icon--twitter" aria-labelledby="title">
                                        <title>Twitter</title>
                                        <use xlink:href="/assets/img/sprite.svg#twitter"></use>
                                    </svg>
                                </a>
                            {{/if}}

                            {{#if facebook}}
                                <a class="social-link js-social-link" href="https://facebook.com/{{facebook}}" title="Facebook">
                                    <svg class="icon icon--social icon--facebook" aria-labelledby="title">
                                        <title>Facebook</title>
                                        <use xlink:href="/assets/img/sprite.svg#facebook"></use>
                                    </svg>
                                </a>
                            {{/if}}
                        </div>
                    </section>

                {{/author}}
            </section>

        </footer>

    </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
